apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: private-gpt-data
  namespace: private-gpt
  labels:
    app: private-gpt
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: openebs-hostpath
  resources:
    requests:
      storage: 10Gi
